extends ../layout

block content
    .row
        form(action='/books/add', method='post', class="col s12")
            .row
                div(class="input-field col s10 l6 offset-s1 offset-l3 search-wrapper")
                    input(id='search_term',name='search_term',type='text',placeholder='Ej.: El principito', value=termino)
                    <i class="material-icons" id='send', value='Buscar', type='submit'>search</i>
    .row
        div(class="result-list col s10 offset-s1 l12")
            if resultados && resultados.length > 0
                br
                h6(class="center-align") <strong>#{resultados.length}</strong> resultados para: "#{termino}"
                each resultado in resultados
                    div(class="col s12 m2 item-libro")
                        .card
                            .card-image
                              img(src=resultado.thumbnail || 'http://fillmurray.com/220/314' , class="tapa-libro")
                              span(class="truncate card-title") #{resultado.title}
                            
                            .card-content
                                if resultado.saleInfo
                                    if resultado.saleInfo.listPrice
                                        p  Nuevo: $#{resultado.saleInfo.listPrice.amount}
                                        p  Usado: $#{resultado.saleInfo.retailPrice.amount}
                            .card-action.center-align
                                a(href="#") Ver más
            else
                if termino
                    br
                    h6 No se encontraron resultados para #{termino}


block scripts
    script.
        $(".fav-btn").bind('click', function(){
            var id = $(this).data('id');
            $.ajax({
                url: '/books/save/' + id,
                type: 'post'
            }).done(function(data){
                console.log("succeed!");
                window.location.assign('/');
            }).fail(function(error){
                console.log("error!", error.responseText);
            });
        });